.search-wrapper {
    padding: 5px;
    width: 100%;
    height: calc(100% - 50px);
}
.search-container {
    overflow: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
.search-content-container {
    height: calc(100% - 90px);
    width: 100%;
    padding: 5px;
}
.search-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form {
    width: 50%;
    height: 100%;
    margin: 50px 10px 10px 10px;
}