.registered-tei-list-wrapper {
  padding: 5px;
  width: 100%;
  height: calc(100% - 50px);
}
.registered-tei-list-container {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.53);
  overflow: auto;
  /* padding: 5px; */
}
.working-list-container {
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.ant-table-column-sorter-inner{
  /* display: none !important; */
}

.ant-table-column-sorters {
  display: flex !important;
  padding: 16px 6px 16px 16px !important;
  justify-content: space-between !important;
}
